<!-- script -->
<script src="https://unpkg.com/feather-icons"></script>

<footer>

    <div class="sub-footer">
        <div class="sub-footer-img">
            <a href="/"><img src="/img/SMKN_1_CIKARANG_SELATAN_Footer.png"></a>
        </div>
        <div class="sub-footer-isi">
            <!-- <div class="menu-footer"> -->
                <div class="sub-footer-profil">
                    <li class="menu-ftr">
                        <a class="sub-ftr"  href="/Profil">Profil </a>
                        <ul class="sub-footer-menu">
                            <li class="sub-footer-item"><a href="/Sejarah-Sekolah">Sejarah sekolah</a></li>
                            <li class="sub-footer-item"><a href="/Visi-Dan-Misi-Sekolah">Visi Dan Misi Sekolah</a></li>
                            <li class="sub-footer-item"><a href="/Struktur-Organisasi">Struktur Organisasi</a></li>
                            <li class="sub-footer-item"><a href="/Guru">Guru</a></li>
                        </ul>
                    </li>
                </div>

                <div class="sub-footer-jurusan">
                    <li class="menu-ftr">
                        <a class="sub-ftr"  href="/Program-Keahlian">Program Keahlian </a>
                        <ul class="sub-footer-menu">
                            <li class="sub-footer-item"><a href="/Teknik-Komputer-jaringan">Teknik Komputer jaringan</a></li>
                            <li class="sub-footer-item"><a href="/Akutansi-Keuangan-Lembaga">Akutansi Keuangan Lembaga</a></li>
                            <li class="sub-footer-item"><a href="/Teknik-Elektronika-Industri">Teknik Elektronika Industri</a></li>
                            <li class="sub-footer-item"><a href="/Teknik-Kelistrikan">Teknik Kelistrikan</a></li>
                            <li class="sub-footer-item"><a href="/Teknik-Mesin">Teknik Mesin</a></li>
                        </ul>
                    </li>
                </div>
                
                <div class="sub-footer-bagian">
                <ul class="sub-footer-menu">
                    <li class="sub-footer-item"><a href="/Kerjasama">Kerjasama</a></li>
                    <li class="sub-footer-item"><a href="/Berita">Berita</a></li>
                    <!-- <li class="sub-footer-item"><a href="#">Struktur Organisasi</a></li> -->
                </ul>
                </div>
            <!-- </div> -->
        </div>
    </div>
    
    <div class="socials">
        <div class="box-content-footer">
        <div class="alamat">
            <a href="https://maps.app.goo.gl/WUWxnbezcqVfWSWY7"><h1>Jalan Raya Ciantra RT 09/05 Ds. Sukadami</h1></a>
        </div>
        <div class="socials-content">
            <a href="https://www.instagram.com/xii.electronica/"><img src="/img/instagram.png"></a>
            <a href="#"><img src="/img/facebook.png"></a> 
            <a href="#"><img src="/img/twitter.png"></a>
            <a href="#"><img src="/img/youtube.png"></a>
        </div>
        </div>
    </div>
    <div class="credit">
        <p>&copy; Copyrite by ICTsmkn1ciksel | 2023</p>
    </div>
</footer>

<!-- feather icon -->
<script>
    feather.replace()
  </script>
  <script src="js/javascript"></script>

