<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico">
    <title>dropdown</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- favicon -->

    <!-- script -->
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
<%- include('nav') %>

    <%- body %>
  

            <!-- kerjasama sec start -->
            <div class="kerjakuy">
            <section class="kerja-sama">
                <h5> KERJA SAMA</h5>
                </section>
                <div class="kerjasam">
                    <div class="thumbnail">
                        <a href=""><img src="img/sch-logo-blk.png" ></a>
                    </div>

                </div>
            </div>
            <!-- kerjasama sec end -->

            <!-- foter start -->
            <footer>
                <div class="socials">
                    <a href="#"><i data-feather="instagram"></i></a>
                    <a href="#"><i data-feather="facebook"></i></a>
                </div>
                <div class="credit">
                    <p>&copy;Copyrite by ape | 2023</p>
                </div>
            </footer>
            <!-- foter end -->


            <!-- feather icon -->
    <script>
        feather.replace()
      </script>

    <script src="js/javascript"></script>
    
</body>
</html>