<header>   
    <div class="logoo">
      <div class="logo">
          <a href="/"><img src="/img/SMKN_1_CIKARANG_SELATAN_NAV_LOGO.png"> </a>
      </div>
  </div>

  <div class="navigation">
    <div class="container-blur">
        <div class="blur"></div>
    </div>
      <ul class="menu">
          <div class="close-btn"> </div>
          <li class="menu-item-home"><a href="/">Home</a></li>
          <li class="menu-item">
              <a href="/Profil">Profil <a class="sub-btn"><img src="/img/down3.png"></a></a>
              <!-- <div class="container-blur">
                <div class="blur"></div>
            </div> -->
              <ul class="sub-menu">
                  <li class="sub-item"><a href="/Sejarah-Sekolah">Sejarah sekolah</a></li>
                  <li class="sub-item"><a href="/Visi-Dan-Misi-Sekolah">Visi Dan Misi Sekolah</a></li>
                  <li class="sub-item"><a href="/Struktur-Organisasi">Struktur Organisasi</a></li>
                  <li class="sub-item"><a href="/Guru">Guru</a></li>
                  
              </ul>
          </li>
          <li class="menu-item">
              <a href="/Program-Keahlian">Program Keahlian<a class="sub-btn"><img src="/img/down3.png"></a></a>
              <!-- <div class="container-blur">
                <div class="blur"></div>
            </div> -->
              <ul class="sub-menu">
                  <li class="sub-item"><a href="/Teknik-Komputer-jaringan">Teknik Komputer jaringan</a></li>
                  <li class="sub-item"><a href="/Akutansi-Keuangan-Lembaga">Akutansi Keuangan Lembaga</a></li>
                  <li class="sub-item"><a href="/Teknik-Elektronika-Industri">Teknik Elektronika Industri</a></li>
                  <li class="sub-item"><a href="/Teknik-Kelistrikan">Teknik Kelistrikan</a></li>
                  <li class="sub-item"><a href="/Teknik-Mesin">Teknik Mesin</a></li>
              </ul>
          </li>
          <li class="menu-item">
              <a href="/Program-Sekolah">Program Sekolah<a class="sub-btn"><img src="/img/down3.png"></a></a>
              <!-- <div class="container-blur">
                <div class="blur"></div>
            </div> -->
              <ul class="sub-menu">
                  <li class="sub-item"><a href="/Program-SMK-Pusat-Keunggulan">Program SMK Pusat Keunggulan</a></li>
                  <li class="sub-item"><a href="/Program-Business-Center">Program Business Center (unit Produksi)</a></li>
                  <li class="sub-item"><a href="/Hubin-Dan-BKK.">HUBIN Dan BKK</a></li>
                  

              </ul>
          </li>
          <li class="menu-item">
              <a href="/Kegiatan-Sekolah">Kegiatan Sekolah<a class="sub-btn"><img src="/img/down3.png"></a></a>
              <!-- <div class="container-blur">
                <div class="blur"></div>
            </div> -->
              <ul class="sub-menu">
                  <li class="sub-item"><a href="/PPDB">PPDB</a></li>
                  <li class="sub-item"><a href="/MOPD">MOPD</a></li>
                  <li class="sub-item"><a href="/Kegiatan-Kesiswaan">Kegiatan Kesiswaan</a></li>
                  <li class="sub-item"><a href="/Kegiatan-OSIS">Kegiatan OSIS</a></li>
                  <li class="sub-item"><a href="/Ekstrakulikuler">Ekstrakulikuler</a></li>
              </ul>
          </li>
          <li class="menu-item"><a href="/Berita">Berita</a></li>
        </ul>
        <div class="menu-btn"></div>
        
  </div>

</header>