<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="continer-Berita">
    <div class="header-berita">
        <h1>BERITA</h1>
    </div>
    <div class="container-berita">
        <div class="card-content">
            <div class="card">
                <div class="card-image"><img src="/img/back-img-2.jpg"></div>
                <div class="card-info">
                    <a href="/berita-1"><h1> Sejarah Singkat SMK Negeri 1 Cikrang Selatan</h1></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat nesciunt hic non odio error.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image"><img src="/img/back-img-2.jpg"></div>
                <div class="card-info">
                    <a href="/berita/berita-1"><h1>card 01</h1></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat nesciunt hic non odio error.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-image"><img src="/img/back-img-2.jpg"></div>
                <div class="card-info">
                    <a href="/berita/berita-1"><h1>card 01</h1></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat nesciunt hic non odio error.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>