 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>
         <div class="judul-back-eskul">
            <h1>Ekstrakulikuler</h1>
        </div>
    </section>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Kegiatan-Sekolah">Kegiatan Sekolah</a> > Ekstrakulikuler</p>
    </div>

    <div class="content-eskul">
        <div class="row-eskul">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio at recusandae possimus soluta nulla consequatur blanditiis veniam? Harum incidunt ipsum, rem eius natus reiciendis consequuntur nihil recusandae, doloremque ducimus commodi iure quas dolores facilis possimus necessitatibus quos blanditiis et? Incidunt ipsum esse numquam eos pariatur iusto consequuntur repudiandae eveniet.</p>
            <div class="content-box-eskul">
                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/OSIS"><h1>OSIS</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/MPK"><h1>MPK</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/TDS"><h1>TDS</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/PRAMUKA"><h1>PRAMUKA</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/PASKIBRA"><h1>PASKIBRA</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/FUTSAL"><h1>FUTSAL</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/BKC"><h1>BKC</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/SILAT"><h1>SILAT</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/MARCHING-BAND"><h1>MARCHING BAND</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/ROHIS"><h1>ROHIS</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/CMS"><h1>BAND(CMS)</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/BOLA-VOLI"><h1>BOLA VOLI</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-eskul">
                    <div class="card-image-eskul">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-eskul">
                            <a href="/PMR"><h1>PMR</h1></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    
<%- include('layouts/footer') %>