 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back-guru" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>
         <div class="judul-back">
            <h1>GURU</h1>
        </div>
    </section>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/profil">Profil</a> > GURU</p>
    </div>
    <div class="content-guru">
            <div class="box-guru">
                <div class="row-guru">
                    <div class="guru-img">
                        <img src="../img/profile-icon-1.png">
                        <h1>NAMA GURU</h1>
                        <p>JABATAN</p>
                    </div>
                </div>
                
                <div class="row-guru">
                    <div class="guru-img">
                        <img src="../img/profile-icon-1.png">
                        <h1>NAMA GURU</h1>
                        <p>JABATAN</p>
                    </div>
                </div>

                <div class="row-guru">
                    <div class="guru-img">
                        <img src="../img/profile-icon-1.png">
                        <h1>NAMA GURU</h1>
                        <p>JABATAN</p>
                    </div>
                </div>

                <div class="row-guru">
                    <div class="guru-img">
                        <img src="../img/profile-icon-1.png">
                        <h1>NAMA GURU</h1>
                        <p>JABATAN</p>
                    </div>
                </div>

                <div class="row-guru">
                    <div class="guru-img">
                        <img src="../img/profile-icon-1.png">
                        <h1>NAMA GURU</h1>
                        <p>JABATAN</p>
                    </div>
                </div>

                <div class="row-guru">
                    <div class="guru-img">
                        <img src="../img/profile-icon-1.png">
                        <h1>NAMA GURU</h1>
                        <p>JABATAN</p>
                    </div>
                </div>

            </div>
    </div>     



    
<%- include('layouts/footer') %>