 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <div class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>

         <div class="judul-hubin-bkk">
            <h1>HUBIN Dan BKK</h1>
        </div>
    </div>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Program-Sekolah">Program Sekolah</a> > HUBIN Dan BKK</p>
    </div>
    <div class="content-hubin">
        <div class="box-hubin">
            <div class="row-hubin">
                <div class="Hubin-img">
                        <img class="hubin" src="/img/foto-profil-2.jpg">
                        <h1>HUBIN</h1>
                        <p>No. HP 08999999999999</p>
                </div>
                <div class="Hubin-img">
                        <img class="hubin" src="../img/profile-icon-1.png">
                        <h1>HUBIN</h1>
                        <p>No. HP 08999999999999</p>
                </div>
                <div class="Hubin-img">
                        <img class="hubin" src="../img/profile-icon-1.png">
                        <h1>HUBIN</h1>
                        <p>No. HP 08999999999999</p>
                </div>
            </div>
            <div class="penjelasan">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nisi necessitatibus porro ipsum labore explicabo natus et unde reiciendis numquam! Maiores autem repellat animi voluptatem officiis, omnis cupiditate aut placeat, velit voluptate id illum porro recusandae rem ipsum repudiandae distinctio ipsa fugiat quae iste facilis et maxime? Nostrum sed velit voluptas, dignissimos fugit dolor facilis aliquid magnam harum necessitatibus nam nulla ex earum dolore id odio laboriosam, unde natus labore porro, facere dicta et ipsam modi! Reprehenderit, sit vero in animi id autem recusandae accusantium quis voluptatem ad deleniti totam consequuntur, quidem nisi doloremque velit deserunt laborum tempora ullam assumenda!</p>
            </div>
        </div>
    </div>

    
<%- include('layouts/footer') %>