<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico">
    <title>SMKN 1 CIKARANG SELATAN</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    

    <!-- favicon -->

    <!-- script -->
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <%- include('layouts/nav') %>
   
    <div class="hero">
        <div class="container-blur">
            <div class="blur"></div>
        </div>
        <div class="overlay"></div>
        <div class="content">
            <div><div>Selamat Datang</div></div>
            <div><div>Welcome</div></div>
            <div><div>ようこそ</div></div>
            <!-- <h1>SELAMAT DATANG</h1> -->
        </div>
        <div class="sub-teks-content">
            <h2>Siswa dan Siswi Terbaik</h2>
            <p>Di Sekolah Menengah Kejuruan Negeri 1 Cikarang Selatan,<br> Sekolah pusat keunggulan</p>
        </div>
        <div class="tombol-cta">
            <a href="#about"><p>ayo eksplor</p></a>
        </div>
    </div>
    
    <!-- about sec  start-->
    <section id="about" class="about">
        <h2><span>Tentang</span> kami </h2>
        <img class="tengah" src="/img/wp-sekolah.jpg" />
        <div class="row">
            <div class="content-about">
                <h3>kenapa harus sekolah kami?</h3>
                <p>SMK Negeri 1 Cikarang Selatan merupakan salah satu SMK terbaik dan sekolah pusat keunggulan di Kabupaten Bekasi, Jawa Barat. Terletak dikawasan industri cikarang, SMKN 1 Cikarang Selatan mengedepankan sinergi kompetensi lulusan dengan kebutuhan industri.
                </p>
                <p>
                    Menciptakan lulusan yang berkompeten dalam dunia kerja dan juga memiliki jiwa kewirausahaan, dengan dukungan pendidik yang berpengalaman dan memiliki integritas tinggi untuk mengembangkan kemajuan sekolah agar mampu berkembang mengikuti perubahan.</p>
            </div>
        </div>
        
    </section>
    <!-- about sec  end-->
    
    <!-- sambutan kepala sekolah start -->
    <section id="sambutan" class="sambutan">
        <h2>Sambutan kepala Sekolah</h2>
        <div class="row-sambutan">
            <div class="kepsek-img"><img class="kepsek" src="/img/nis.jpg" /></div>
            <div class="isi-sambutan">
                <p>Assalamualaikum Wr.Wb Pertama , Puji syukur kita panjatkan kehadirat Allhh SWT yang telah memberi rakhmat dan hidayahnya kepada kita semua. Sholawat serta salam senantiasa kita haturkan kepada junjungan kita Nabi Muhammad SAW , keluarga, sahabat dan para pengikutnya hingga akhir jaman. Bersamaan dengan datangnya tahun ajaran 2020/2021, Website SMK Negeri 1 cikarang selatan hadir dengan desain yang baru.</p>
                <p>Update desain web ini dirasa sangat penting artinya bagi SMK Negeri 1 cikarang selatan, karena website adalah halaman muka dan sumber informasi dari sebuah institusi bernama sekolah. Seiring perkembangan jaman dan kemajuan teknologi IT yang berkembang dengan cepat maka SMK negeri 1 cikarang selatan harus selalu mampu mengikutinya.</p>
                <p>Akhir kata tak lupa saya ucapkan terima kasih kepada pengelola web yang telah bekerja keras memperbaiki dan mengelola web sekolah, serta seluruh guru, karyawan dan siswa SMK Negeri 1 Cikarang Selatan yang telah memberikan dukungan sehingga website sekolah menjadi lebih berguna dan bermanfaat. Wassalamualaikum wr.wb.</p>
                <h3>Nopriandi, S.T, M.Kom, M.M</h3>
                <h4>Kepala Sekolah SMKN 1 Cikarang Selatan</h4>
                
            </div>
        </div>
        
    </section>
    <!-- sambutan kepala sekolah end -->

        <!-- berita sec start -->
        <div class="beriita">
            <div class="berita">
            <h2> BERITA</h2>
            <div class="container-berita">
                <div class="card-content">
                    <div class="card">
                        <div class="card-image"><img src="/img/back-img-2.jpg"></div>
                        <div class="card-info">
                            <a href="/berita-1"><h1> Sejarah Singkat SMK Negeri 1 Cikrang Selatan</h1></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat nesciunt hic non odio error.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image"><img src="/img/back-img-2.jpg"></div>
                        <div class="card-info">
                            <a href="/berita/berita-1"><h1>card 01</h1></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat nesciunt hic non odio error.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image"><img src="/img/back-img-2.jpg"></div>
                        <div class="card-info">
                            <a href="/berita/berita-1"><h1>card 01</h1></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat nesciunt hic non odio error.</p>
                        </div>
                    </div>

                </div>
                <div class="selengkapnya">
                    <div class="selengkap-box">
                        <a href="/Berita">Selengkapnya</a>
                    </div>
                </div>
            </div>
            </di>
        </div>  
            <!-- berita sec end -->
    <div class="seragam">
        <div class="seragam-container">
            <div class="header-seragam">
                    <h1>SERAGAM KAMI</h1>
            </div> 
            <div class="wrapper">
                <!-- <i id="left" class="fa-solid fa-angle-left"></i> -->
                <ul class="carousel-seragam">
                  <li class="card-seragam">
                    <div class="img"><img src="/img/nis.jpg" alt="img" draggable="false"></div>
                    <p>Senin</p>
                    <p>Putih abu</p>
                  </li>

                  <li class="card-seragam">
                    <div class="img"><img src="/img/nis.jpg" alt="img" draggable="false"></div>
                    <p>Senin</p>
                    <p>Putih abu</p>
                  </li>

                  <li class="card-seragam">
                    <div class="img"><img src="/img/nis.jpg" alt="img" draggable="false"></div>
                    <p>Senin</p>
                    <p>Putih abu</p>
                  </li>

                  <li class="card-seragam">
                    <div class="img"><img src="/img/nis.jpg" alt="img" draggable="false"></div>
                    <p>Senin</p>
                    <p>Putih abu</p>
                  </li>

                  <li class="card-seragam">
                    <div class="img"><img src="/img/nis.jpg" alt="img" draggable="false"></div>
                    <p>Senin</p>
                    <p>Putih abu</p>
                  </li>

                  <li class="card-seragam">
                    <div class="img"><img src="/img/nis.jpg" alt="img" draggable="false"></div>
                    <p>Senin</p>
                    <p>Putih abu</p>
                  </li>

                  <li class="card-seragam">
                    <div class="img"><img src="/img/nis.jpg" alt="img" draggable="false"></div>
                    <p>Senin</p>
                    <p>Putih abu</p>
                  </li>
                  
                </ul>
                <!-- <i id="right" class="fa-solid fa-angle-right"></i> -->
              </div>
        </div>

    </div>
    <div class="partnership">
        <div class="container-partnership">
            <div class="partnership-header">
                <h1>KOLABORASI</h1>
            </div>
            <div class="partnership-img">
            <img src="/img/sch-logo.png" alt="">
            </div>
        </div>
    </div>
    <%- include('layouts/footer') %>
</body>
</html>