 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>

    <div class="back">
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>
         <div class="judul-back">
            <h1>Kegiatan Kesiswaan</h1>
        </div>
    </div>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Kegiatan-Sekolah">Kegiatan Sekolah</a> > Kegiatan Kesiswaan</p>
    </div>
    <div class="content-kegiatan">
        <div class="row-kegiatan">
            <div class="box-kegiatan">
                <div class="kegiatan-judul">
                        <h1>Kegiatan Kesiswaan</h1>
                        <p>Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Iure temporibus 
                            deleniti quam sunt similique ab id 
                            sit corporis nihil optio. Repellendus 
                            quia itaque voluptas facere sapiente, 
                            architecto id vel aliquid adipisci nostrum 
                            consectetur animi molestiae optio quibusdam 
                            unde! At, iusto?</p>
            
                        <p>Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Iure temporibus 
                                deleniti quam sunt similique ab id 
                                sit corporis nihil optio. Repellendus 
                                quia itaque voluptas facere sapiente, 
                                architecto id vel aliquid adipisci nostrum 
                                consectetur animi molestiae optio quibusdam 
                                unde! At, iusto?</p>    

                        <p>Lorem ipsum dolor sit amet consectetur 
                                        adipisicing elit. Iure temporibus 
                                        deleniti quam sunt similique ab id 
                                        sit corporis nihil optio. Repellendus 
                                        quia itaque voluptas facere sapiente, 
                                        architecto id vel aliquid adipisci nostrum 
                                        consectetur animi molestiae optio quibusdam 
                                        unde! At, iusto?</p>                    
                    </div>
                        
                </div>

            </div>
            
        </div>


    
<%- include('layouts/footer') %>