 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>
         <div class="judul-back">
            <h1>Kegiatan Sekolah</h1>
        </div>
    </section>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > Kegiatan Sekolah</p>
    </div>

    <div class="content-kegiatan">
            <div class="row-kegiatan">
                <div class="box-kegiatan">
                    <div class="kegiatan-judul">
                        <h1>PPDB</h1>
                        <p>Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Iure temporibus 
                            deleniti quam sunt similique ab id 
                            sit corporis nihil optio. Repellendus 
                            quia itaque voluptas facere sapiente, 
                            architecto id vel aliquid adipisci nostrum 
                            consectetur animi molestiae optio quibusdam 
                            unde! At, iusto?</p>
            
                            <p>Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Iure temporibus 
                                deleniti quam sunt similique ab id 
                                sit corporis nihil optio. Repellendus 
                                quia itaque voluptas facere sapiente, 
                                architecto id vel aliquid adipisci nostrum 
                                consectetur animi molestiae optio quibusdam 
                                unde! At, iusto?</p>
                    </div>
                        <div class="box-info-kegiatan">
                            <a href="/PPDB">Selengkapnya</a>
                        </div>
                </div>

            </div>
            
            <div class="row-kegiatan">
                <div class="box-kegiatan">
                    <div class="kegiatan-judul">
                    <h1>MOPD</h1>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Iure temporibus 
                        deleniti quam sunt similique ab id 
                        sit corporis nihil optio. Repellendus 
                        quia itaque voluptas facere sapiente, 
                        architecto id vel aliquid adipisci nostrum 
                        consectetur animi molestiae optio quibusdam 
                        unde! At, iusto?</p>
        
                        <p>Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Iure temporibus 
                            deleniti quam sunt similique ab id 
                            sit corporis nihil optio. Repellendus 
                            quia itaque voluptas facere sapiente, 
                            architecto id vel aliquid adipisci nostrum 
                            consectetur animi molestiae optio quibusdam 
                            unde! At, iusto?</p>
                </div>
                    <div class="box-info-kegiatan">
                        <a href="/MOPD">Selengkapnya</a>
                    </div>
            </div>
        </div>

        <div class="row-kegiatan">
            <div class="box-kegiatan">
                <div class="kegiatan-judul">
                    <h1>Kegiatan Kesiswaan</h1>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Iure temporibus 
                        deleniti quam sunt similique ab id 
                        sit corporis nihil optio. Repellendus 
                        quia itaque voluptas facere sapiente, 
                        architecto id vel aliquid adipisci nostrum 
                        consectetur animi molestiae optio quibusdam 
                        unde! At, iusto?</p>
        
                        <p>Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Iure temporibus 
                            deleniti quam sunt similique ab id 
                            sit corporis nihil optio. Repellendus 
                            quia itaque voluptas facere sapiente, 
                            architecto id vel aliquid adipisci nostrum 
                            consectetur animi molestiae optio quibusdam 
                            unde! At, iusto?</p>
                </div>
                    <div class="box-info-kegiatan">
                        <a href="/Kegiatan-Kesiswaan">Selengkapnya</a>
                    </div>
            </div>
        </div>

        <div class="row-kegiatan">
            <div class="box-kegiatan">
                <div class="kegiatan-judul">
                    <h1>Kegiatan OSIS</h1>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Iure temporibus 
                        deleniti quam sunt similique ab id 
                        sit corporis nihil optio. Repellendus 
                        quia itaque voluptas facere sapiente, 
                        architecto id vel aliquid adipisci nostrum 
                        consectetur animi molestiae optio quibusdam 
                        unde! At, iusto?</p>
        
                        <p>Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Iure temporibus 
                            deleniti quam sunt similique ab id 
                            sit corporis nihil optio. Repellendus 
                            quia itaque voluptas facere sapiente, 
                            architecto id vel aliquid adipisci nostrum 
                            consectetur animi molestiae optio quibusdam 
                            unde! At, iusto?</p>
                </div>
                    <div class="box-info-kegiatan">
                        <a href="/Kegiatan-OSIS">Selengkapnya</a>
                    </div>
            </div>
        </div>

        <div class="row-kegiatan">
            <div class="box-kegiatan">
                <div class="kegiatan-judul">
                    <h1>Ekstrakulikuler</h1>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Iure temporibus 
                        deleniti quam sunt similique ab id 
                        sit corporis nihil optio. Repellendus 
                        quia itaque voluptas facere sapiente, 
                        architecto id vel aliquid adipisci nostrum 
                        consectetur animi molestiae optio quibusdam 
                        unde! At, iusto?</p>
        
                        <p>Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Iure temporibus 
                            deleniti quam sunt similique ab id 
                            sit corporis nihil optio. Repellendus 
                            quia itaque voluptas facere sapiente, 
                            architecto id vel aliquid adipisci nostrum 
                            consectetur animi molestiae optio quibusdam 
                            unde! At, iusto?</p>
                </div>
                    <div class="box-info-kegiatan">
                        <a href="/Ekstrakulikuler">Selengkapnya</a>
                    </div>
            </div>
        </div>

        </div>

    </div>

    
<%- include('layouts/footer') %>