<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="tombol-kembali">
    <a href="/profil">Kembali</a>
</div>
<div class="container-pt">
    <div class="box-pt">
        <img src="/img/sch-logo.png">
    </div>
</div>

<%- include('layouts/footer') %>