 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>
         <div class="judul-back">
            <h1>Program Keahlian</h1>
        </div>
    </section>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > Program Keahlian</p>
    </div>

    <div class="content-jurusan">
        <div class="row-jurusan">
                <p>SMKN 1 Cikarang Selatan memiliki 5 (lima) program keahlian yang dapat dipilih, semua program keahlian telah terakreditasi "A". Seluruh jurusan memiliki guru yang berkompeten pada bidangnya dan kurikulum yang memiliki link and match dengan dunia kerja.</p>
            <div class="content-box-jurusan">
                <div class="box-jurusan">
                    <div class="card-image-jurusan">
                        <img src="/img/logo-tkj.png">
                        <div class="card-info-jurusan">
                            <a href="/Teknik-Komputer-jaringan"><h1>Teknik Komputer Jaringan</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-jurusan">
                    <div class="card-image-jurusan">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-jurusan">
                            <a href="/Akutansi-Keuangan-Lembaga"><h1>Akutansi Keuangan Lembaga</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-jurusan">
                    <div class="card-image-jurusan">
                        <img src="/img/logo-elind (1).png">
                        <div class="card-info-jurusan">
                            <a href="/Teknik-Elektronika-Industri"><h1>Teknik Elektronika Industri</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-jurusan">
                    <div class="card-image-jurusan">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-jurusan">
                            <a href="/Teknik-Kelistrikan"><h1>Teknik Kelistrikan</h1></a>
                        </div>
                    </div>
                </div>

                <div class="box-jurusan">
                    <div class="card-image-jurusan">
                        <img src="/img/logo sekolah 2.png">
                        <div class="card-info-jurusan">
                            <a href="/Teknik-Mesin"><h1>Teknik Mesin</h1></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    
<%- include('layouts/footer') %>