 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>
         <div class="judul-back">
            <h1>Program SMK Pusat Keunggulan</h1>
        </div>
    </section>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Program-Sekolah">Program Sekolah</a> > Program SMK Pusat Keunggulan</p>
    </div>
    <div class="content-program">
        <div class="row-program">
            <div class="box-program">
                <div class="program-judul">
                        <h1>Program SMK Pusat Keunggulan</h1>
                        <p>Program SMK Pusat Keunggulan merupakan program pengembangan SMK dengan kompetensi keahlian tertentu dalam peningkatan kualitas dan kinerja, yang diperkuat melalui kemitraan dan penyelarasan dengan dunia usaha, dunia industri, dunia kerja, yang akhirnya menjadi SMK rujukan yang dapat berfungsi sebagai sekolah penggerak dan pusat peningkatan kualitas dan kinerja SMK lainnya. Selain itu, ada program pendampingan yang dirancang untuk membantu SMK PK dalam pencapaian output. Pelaksana pendampingan dilakukan oleh perguruan tinggi yang telah memenuhi kriteria.</p>
            
                        <p>SMK Negeri 1 Cikarang Selatan terpilih menjadi SMKN Pusat Keunggulan melalui kemitraan dengan Schneider Electric perusahaan Prancis yang bergerak di bidang elektrik.</p>    

                        <h2> Manfaat yang didapatkan industri dari program SMK-Pusat Keunggulan :</h2>
                        <p>
                        1. Mendapatkan calon karyawan yang unggul dan kompeten <br>
                        2. Mendorong peningkatan kualitas SDM (melalui pendekatan CSR) <br>
                        3. Membantu proses produksi bagi industri kecil dan menengah <br>
                                    </p>                    
                    </div>
                        
                </div>

            </div>
            
        </div>

        <div class="container-galeri">
            <div class="galeri-jurusan">
                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan">
                        <img src="/img/Program-SMK-PK-img-1.jpeg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay">
                            <div class="close-gambar"></div>
                            <img src="/img/Program-SMK-PK-img-1.jpeg"> 
                        </div>
                
                <!-- batas akhir -->

                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan-2">
                        <img src="/img/elind-pic.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay-2">
                            <div class="close-gambar-2"></div>
                            <img src="/img/elind-pic.jpg"> 
                        </div>  
                
                <!-- batas akhir -->

                <!-- batas awal -->
                    <div class="card-galeri-jurusan-3">
                        <img src="/img/back-img-1.jpg">
                    </div>
                    <div class="card-galeri-jurusan-overlay-3">
                        <div class="close-gambar-3"></div>
                        <img src="/img/back-img-1.jpg"> 
                    </div> 
                <!-- batas akhir -->
            </div>
        </div>
    
<%- include('layouts/footer') %>