 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>

        <div class="judul-back">
            <h1>TEKNIK KOMPUTER JARINGAN</h1>
        </div>
    </section>
    
    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Program-Keahlian">Program keahlian</a> > TEKNIK KOMPUTER JARINGAN</p>
    </div>
    <div class="content-program-keahlian">
           <img class="Center"  src="../img/logo-tkj.png">
            <p>Jurusan Teknik Jaringan Komputer dan Telekomunikasi merupakan jurusan dengan ilmu berbasis Teknologi Informasi dan Komunikasi terkait kemampuan algoritma, dan pemrograman komputer, perakitan komputer, perakitan jaringan komputer, dan pengoperasian perangkat lunak, dan internet. Teknik komputer, dan jaringan juga membutuhkan pemahaman di bidang teknik listrik, dan ilmu komputer sehingga mampu mengembangkan, dan mengintegrasikan perangkat lunak, dan perangkat keras.</p>

                <p>Bidang pekerjaan yang dapat diisi oleh tamatan kompetensi keahlian teknik komputer, dan jaringan antara lain :
                </p>
                <p> 1.  Penyedia jasa layanan internet<br />
                    2. Jaringan Nirkabel<br />
                    3. Administrator Server<br />
                    4. Integrator komputer<br />
                    5. Integrator VOIP<br />
                    6. Administrator Linux<br />
                    7. Integrator, dan administrator jaringan<br />
                    8. Administrator web<br />
                </p>
                
        
    </div>
        <div class="container-galeri">
            <div class="galeri-jurusan">
                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan">
                        <img src="/img/Tkj-img-1.jpeg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay">
                            <div class="close-gambar"></div>
                            <img src="/img/Tkj-img-1.jpeg"> 
                        </div> 
                
                <!-- batas akhir -->

                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan-2">
                        <img src="/img/back-img-3.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay-2">
                            <div class="close-gambar-2"></div>
                            <img src="/img/back-img-3.jpg"> 
                        </div> 
                
                <!-- batas akhir -->

                <!-- batas awal -->
                    <div class="card-galeri-jurusan-3">
                        <img src="/img/back-img-1.jpg">
                    </div>
                    <div class="card-galeri-jurusan-overlay-3">
                        <div class="close-gambar-3"></div>
                        <img src="/img/back-img-1.jpg"> 
                    </div> 
                <!-- batas akhir -->
            </div>
        </div>
<%- include('layouts/footer') %>