 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>

        <div class="judul-back">
            <h1>TEKNIK ELEKTRONIKA INDUSTRI</h1>
        </div>
    </section>

    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Program-Keahlian">Program keahlian</a> > TEKNIK ELEKTRONIKA INDUSTRI</p>
    </div>
    <div class="content-program-keahlian">
           <img class="Center"  src="/img/logo-elind (1).png">
            <p>Teknik Elektronik Industri (TEI) adalah bidang yang fokus mempelajari tentang komponen listrik  serta berbagai macam peralatan semi konduktor.
            Program Jurusan Elektronika Industri mendidik siswa agar mempunyai kemampuan / keterampilan kepada anak didik pada bidang sistem kontrol dan maintenance peralatan industri berbasis “electrical control” dan “micro processor”.</p>

            <p>Secara khusus tujuan program keahlian Teknik Elektronika Industri adalah membekali peserta didik dengan keterampilan, pengetahuan dan sikap agar kompeten dibidang:
            </p>    
            <p> 1. Pengoperasian Peralatan Kontrol Industri <br>
                2. Instalasi/ Pemasangan Peralatan Kontrol Industri <br>
                3. Perawatan dan Perbaikan Peralatan Kontrol Industri <br>
                4. Menerapkan Teknik Jaringan Komputer <br>
                5. Pengaplikasian Teknik Kontrol Panel pada Robotik <br>
            </p>
    </div>

        <div class="container-galeri">
            <div class="galeri-jurusan">
                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan">
                        <img src="/img/elind-pic.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay">
                            <div class="close-gambar"></div>
                            <img src="/img/elind-pic.jpg"> 
                        </div>
                
                <!-- batas akhir -->

                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan-2">
                        <img src="/img/back-img-3.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay-2">
                            <div class="close-gambar-2"></div>
                            <img src="/img/back-img-3.jpg"> 
                        </div>  
                
                <!-- batas akhir -->

                <!-- batas awal -->
                    <div class="card-galeri-jurusan-3">
                        <img src="/img/back-img-1.jpg">
                    </div>
                    <div class="card-galeri-jurusan-overlay-3">
                        <div class="close-gambar-3"></div>
                        <img src="/img/back-img-1.jpg"> 
                    </div> 
                <!-- batas akhir -->
            </div>
        </div>  
<%- include('layouts/footer') %>