 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>

        <div class="judul-back">
            <h1>TEKNIK MESIN</h1>
        </div>
    </section>
    
    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Program-Keahlian">Program keahlian</a> > TEKNIK MESIN</p>
    </div>
    <div class="content-program-keahlian">
           <img class="Center"  src="../img/logo sekolah 2.png">
            <p>Proses pembelajaran pada Kompetensi Keahlian Teknik Pemesinan berbasis kompetensi dan berbasis produksi. Pada proses pembelajaran berbasis kompetensi dan produksi diperlukan transfer pengetahuan, keterampilan , dan sikap serta karakter yang secara keseluruhan harus dilakukan dengan benar dan memenuhi standar kompetensi yang dipersyaratkan oleh dunia usaha dan dunia industri. Kompetensi dasar kejuruan dan kompetensi kejuruan pada kompetensi keahlian Teknik Pemesinan terdiri dari 22 Standar kompetensi yang secara ringkas dapat dikelompokan dalam kompetensi yang berkaitan dengan dasar kompetensi kejuruan, perkakas tangan, gambar teknik, alat ukur, permesinan dasar, teknik gerinda, permesinan lanjut dan CNC.</p>

    </div>

        <div class="container-galeri">
            <div class="galeri-jurusan">
                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan">
                        <img src="/img/back-img-2.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay">
                            <div class="close-gambar"></div>
                            <img src="/img/back-img-2.jpg"> 
                        </div> 
                
                <!-- batas akhir -->

                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan-2">
                        <img src="/img/back-img-3.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay-2">
                            <div class="close-gambar-2"></div>
                            <img src="/img/back-img-3.jpg"> 
                        </div> 
                
                <!-- batas akhir -->

                <!-- batas awal -->
                    <div class="card-galeri-jurusan-3">
                        <img src="/img/back-img-1.jpg">
                    </div>
                    <div class="card-galeri-jurusan-overlay-3">
                        <div class="close-gambar-3"></div>
                        <img src="/img/back-img-1.jpg"> 
                    </div> 
                <!-- batas akhir -->
            </div>
        </div>
    
<%- include('layouts/footer') %>