 <%- include('layouts/header') %>
 <%- include('layouts/nav') %>
    <section class="back" id="home" >
        <!-- <img src="/public/img/landing page.jpg" alt=""> -->
        <div class="overlay"></div>

        <div class="judul-back">
            <h1>TEKNIK KELISTRIKAN</h1>
        </div>
    </section>
    
    <div class="tombol-kembali">
        <p><a href="/">Home</a> > <a href="/Program-Keahlian">Program keahlian</a> > TEKNIK KELISTRIKAN</p>
    </div>
    <div class="content-program-keahlian">
           <img class="Center"  src="../img/logo sekolah 2.png">
            <p>Teknik Ketenaga Listrikan merupakan sebuah kompetensi keahlian yang mempelajari tentang instalasi tenaga listrik dan perbaikan perangkat elektronik. Teknik Instalasi Tenaga Listrik adalah jurusan yang mempelajari tentang perencanaan dan pemasangan instalasi penerangan, tenaga pemasangan dan pengoperasian motor listrik dengan kendali elektromekanik, elektronik dan PLC (Programable Logic Controller). Salah satu pekerjaan yang cocok untuk lulusan SMK jurusan TITL adalah menjadi seorang petugas pemasangan serta pemeliharaan kabel listrik.</p>

    </div>

        <div class="container-galeri">
            <div class="galeri-jurusan">
                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan">
                        <img src="/img/titl-img-1.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay">
                            <div class="close-gambar"></div>
                            <img src="/img/titl-img-1.jpg"> 
                        </div> 
                
                <!-- batas akhir -->

                <!-- batas awal -->
                
                    <div class="card-galeri-jurusan-2">
                        <img src="/img/back-img-3.jpg">
                    </div>    
                        <div class="card-galeri-jurusan-overlay-2">
                            <div class="close-gambar-2"></div>
                            <img src="/img/back-img-3.jpg"> 
                        </div> 
                
                <!-- batas akhir -->

                <!-- batas awal -->
                    <div class="card-galeri-jurusan-3">
                        <img src="/img/back-img-1.jpg">
                    </div>
                    <div class="card-galeri-jurusan-overlay-3">
                        <div class="close-gambar-3"></div>
                        <img src="/img/back-img-1.jpg"> 
                    </div> 
                <!-- batas akhir -->
            </div>
        </div>
    
<%- include('layouts/footer') %>